.CommandDiscipline {
  display: flex;
  flex-direction: column;
  text-align: center;

  .Icon {
    color: var(--color-gray);

    &::before {
      font-size: var(--font-size-large);
      height: var(--font-size-large);
      line-height: var(--font-size-large);
      width: var(--font-size-large);
    }
  }
  > .label {
    color: var(--color-gray);
    font-size: var(--font-size-small);
    flex: 0 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid var(--color-light-gray);

    &.arrived {
      border-color: var(--color-arrived);
    }
    &.progress {
      border-color: var(--color-progress);
    }
    &.left {
      border-color: var(--color-left);
    }
  }

  > .points {
    flex: 1 1 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }

  > .penalty {
    flex: 1 1 33%;
    color: var(--color-red);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .reason {
    flex: 1 1 33%;
    font-size: var(--font-size-small);
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "(";
    }
    &::after {
      content: ")";
    }
  }
}
