.CommandStarter {
  display: flex;
  flex-direction: column;

  > .starter {
    display: flex;
    align-items: center;

    > .name {
      font-size: var(--font-size-large);
      margin-right: 12px;
    }
    > .Icon {
      &::before {
        width: var(--font-size);
        height: var(--font-size);
        font-size: var(--font-size);
        line-height: var(--font-size);
      }
    }
    > .birthday {
      font-size: va(--font-size-small);
      color: var(--color-gray);
    }
  }
  > .meta {
    color: var(--color-gray);
    font-size: var(--font-size-small);

    > * {
      margin-right: 12px;
    }
  }
}
