.PhotographerTeam {
  display: flex;
  align-items: center;
  padding: var(--gap);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  > .number {
    flex: 1 0 40px;
    font-size: var(--font-size-huge);
    align-self: center;
    text-align: center;
  }

  > .CommandImage {
    flex: 0 0 128px;
    height: 80px;
    margin-right: 8px;
    box-sizing: border-box;
  }

  > .team {
    flex: 1 1 100%;
    height: 100%;

    > .name {
      grid-area: name;
      font-size: var(--font-size-large);
    }
    > .starters {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      opacity: 0.4;
    }
  }
}
