.Points {
  display: flex;
  justify-content: center;

  > .points {
    flex: 1 1 auto;
    height: 48px;
    font-size: var(--font-size-h1);
    width: 100%;
    box-sizing: border-box;
    max-width: 320px;
  }
  > .set {
    box-sizing: border-box;
    height: 48px;
    flex: 0 0 64px;
    margin-left: var(--gap);
    background: var(--color-red);
  }
  > .Number {
    margin-right: 24px;

    > .plus {
      font-size: var(--font-size-huge);
      flex: 0 0 48px;
    }
    > .minus {
      font-size: var(--font-size-huge);
      flex: 0 0 48px;
    }
    > input {
      font-size: var(--font-size-huge);
    }
  }
}
