.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  > header {
    flex: 0 0 84px;
    background: url('assets/AGT-O Wappen.svg'), var(--color-blue);
    background-repeat: no-repeat;
    background-size: auto 90%, 100%;
    background-position: 6px 50%, center;
    color: white;

    padding-left: 72px;
    padding-top: 4px;
    
    display: flex;
    flex-direction: column;

    > * {
      flex: 0 0 40px;
      display: flex;
      justify-content: flex-end;

      align-items: center;

      &.top {
        color: white;
        line-height: 40px;
        > * {
          margin: 0 4px;
        }
      }
      &.bottom {

      }
    }
  }

  > div {
    flex: 1 1 auto;
  }
}
