@import './assets/fonts/dinot.css';

:root {

  --color-blue: #244676;
  --color-light-gray: #DDDDDD;
  --color-gray: #AAAAAA;
  --color-even: rgba(0, 0, 0, 0.05);
  --color-red: #AA0000;
  --color-green: #00C49F;
  --color-yellow: #FFE65C;
  --color-true: var(--color-green);
  --color-false: var(--color-red);

  --color-arrived: var(--color-yellow);
  --color-progress: #FF347B;
  --color-left: var(--color-green);

  --font-size-tiny: 9px;
  --font-size-small: 11px;
  --font-size: 14px;
  --font-size-large: 18px;
  --font-size-larger: 20px;
  --font-size-huge: 24px;
  --font-size-h1: 32px;
  --font-size-id: 48px;

  --font-size-icon: 24px;

  --border-radius: 4px;
  --gap: 4px;

}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-size: var(--font-size);
  font-family: DINOT, sans-serif;

  color: black;
  background: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: DINOT;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
button {
  background: var(--color-blue);
  color: white;
  font-size: var(--font-size);
  border: none;
  border-radius: var(--border-radius);
  padding: 4px;
  cursor: pointer;
}


.react-date-picker {
  color: black;
  background: var(--color-light-gray);
  border-radius: var(--border-radius) !important;

  > * {
    border: none !important;
    border-radius: var(--border-radius) !important;
  }
}
.react-calendar {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5) !important;
}
.react-calendar button {
  color: inherit;
}
.react-calendar__tile--active,
.react-calendar__tile--hasActive {
  color: white !important;
  background: var(--color-red) !important;
}
.react-date-picker__calendar {
  width: 320px !important;
}
.react-calendar__tile {
  padding: 8px !important;
}

input {
  background: var(--color-light-gray);
  font-size: var(--font-size);
  border: none;
  border-radius: var(--border-radius);
  padding: 4px;
}
input[type=checkbox] {
  width: 16px !important;
  height: 16px !important;
}

select {
  background: var(--color-light-gray);
  font-size: var(--font-size);
  border: none;
  border-radius: var(--border-radius);
  padding: 4px;
}

h1 {
  color: var(--color-gray);
  font-weight: normal;
  font-size: var(--font-size-h1);
  text-align: right;
  margin: 12px 8px;
  line-height: 1em;
}

h2 {
  color: var(--color-light-gray);
  font-weight: normal;
  font-size: var(--font-size-larger);
  text-align: center;
  margin: 0px 8px;
  line-height: 1em;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  filter: grayscale(1);
}

.red {
  color: var(--color-red);
  font-weight: bold;
}

.true::after {
  content: "☑";
  background: var(--color-true);
  color: white;
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-block;
  padding: 1px;
  font-weight: bold;
}
.false::after {
  content: "☒";
  background: var(--color-false);
  color: white;
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-block;
  padding: 1px;
  font-weight: bold;
}

.cancel {
  background-color: var(--color-red);
}

.List {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.Item {
  display: grid;
  grid-gap: var(--gap);
  justify-content: center;
  align-items: center;
  padding: var(--gap);
  border: 1px solid transparent;

  &:nth-child(even) {
    background: var(--color-even);
  }

  &.edit {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  }

  > .id {
    color: var(--color-gray);
    font-size: var(--font-size-huge);
  }

  > span.label {
    justify-self: end;
    margin-left: 12px;
    color: var(--color-gray);
    font-size: 0.8em;
  }

  > input {
    width: 100%;
  }

  > .buttons {
    white-space: nowrap;

    > button {
      margin: 0 2px;

      &:first-of-type {
        margin-left: 8px;
      }
    }
  }
}
